.card-deck {
    background-color: rgb(187, 187, 68);
    background-size: 100%;
}
.food-photos {
    border-image: 100%;
    border-image-width:100%;
    background-color: rgb(132, 132, 223);
    

}

.food-table {
    height: 80%;
    width: 40px;
    margin: 50px;
    border-style: dashed;
    border-color: black;
}

.Food-photo.jpg {
    border-image-width: 100%;
    background-size: 100%;
}
table {
    background-color: rgb(238, 213, 182);
    border-style:ridge;
    padding-bottom: 60px;
    padding-top: 60px;
    border: 20px;

}

.food-photos {
height: 300px;
width: 200px;

}